
@*Bu da başlık için partiallayout. Bunların alayını adminlayout a ekleyip bırakacağız her click eventimizde. Ama admin layout değişmeyecek, partial ler değişecek.*@ 
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Taş Haber Sitesi</a>
</div>