.tek {
    background-color:aliceblue;
}
.cift{
    background-color:cornsilk;

}
.validation-summary-errors{   /*//yanlış haber eklendiğinde düzenlendiğinde verilen hatanın özellikleri*/
    font-family:"Arial";
    font-size:large;
    color:tomato;
    border:2px solid white;
    padding : 0 5px 0 5px;
    background-color:royalblue
}
